{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>About us</title>
    <link rel="stylesheet" href="{% static '/css/style.css' %}" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/css/all.min.css"
    />
    <link
      href="https://fonts.googleapis.com/css2?family=Baloo+Da+2:wght@400;500;600;700;800&family=Josefin+Slab:ital,wght@0,400;0,600;1,300;1,400;1,600&family=Muli:ital,wght@0,300;0,400;0,500;1,300;1,400;1,500&display=swap"
      rel="stylesheet"
    />
  </head>
  <body>
    <section class="about">
          <div class="about-right">
            <h1 class="about-heading">About Us</h1>
            <form>
              <div class="text-wrapper">
                <h2 class="about-text1">
                    <em>We are the future of Society Management..!!</em><br></h2>
                <p class="about-text2">
                    We provide prefect solution to make living in an apartment a pleasant and convenient experience - for the residents, the managing committee members, and the security staff.<br></p>
                <p class="about-text2">
                    Right from generating maintenance bills , society accounting  to provide the resident with basic help with the professional electricians, plumbers and many more...<br></p> 
              </div>  
            </form>
          </div>
          <div class="about-wrapper">
            <div class="abt-img-wrapper">
                <img src="{% static '/img/about_img.jpg' %}" />
              </div>
          </div>
      </section>
    <script src="{% static '/script/script.js'%}"></script>
    <script
      src="https://code.jquery.com/jquery-3.5.1.js"
      integrity="sha256-QWo7LDvxbWT2tbbQ97B53yJnYU3WhH/C8ycbRAkjPDc="
      crossorigin="anonymous"
    ></script>
    <script src="{% static '/script/tilt.js'%}"></script>
  </body>
</html>
